html, body {
    width: 100%;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    justify-content: flex-start; 
    align-items: center;
    padding: 20px;
    scroll-behavior: auto;
    margin-top: 350px; 
    width: 100%; 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .flex-container {
        margin-top: 800px; 
    }
}
